<div class="row">
<form class="col s12" action="/result">
  <div class="row">
    <div class="input-field col s6">
      <input id="amount" name= "amount" type="text" class="validate">
    </div>
    <div class="input-field col s6">
     <button class="waves-effect waves-light btn"  type="submit" class="btn">Go</button>
    </div>
  </div>
</form>
</div>